/* for small devices  */
@media screen and (max-width:576px) {

    /* some shared styles  */
    .title {
        font-size: 2rem;
    }

    /* header section starts here  */
    header .content-area {
        padding-right: 0;
    }

    header .content-area nav .menu {
        display: none;
    }

    header .content-area nav .fa-bars {
        display: block;
        font-size: 1.75rem;
        padding-right: 20px;

    }

    .hero-section {
        flex-direction: column;
        gap: 50px;
    }

    .hero-section .hero-text h1 {
        font-size: 2.25rem;
        line-height: 120%;

        span {
            font-size: 5rem;
        }
    }

    .hero-section .hero-text .description {
        width: 70%;
    }

    .hero-section .hero-text .btn-primary {
        width: 169px;
    }

    .hero-section .hero-text .btn-primary span {
        display: none;
    }

    .hero-image .paid {
        width: 156px;
        padding: 14px 0;
        gap: 7px;
        left: -12px;
        bottom: 244px;
    }

    .hero-image .paid i {
        display: none;
    }

    .hero-image .paid .play-btn {
        width: 30px;
        display: block;
    }

    .hero-image .paid h3 {
        font-size: 1.125rem;
        font-weight: 900;
        line-height: 18 px;
    }

    .hero-image .paid .description {
        font-size: 0.75rem;
        margin-top: 5px;
        line-height: 18px;
    }

    .hero-image .free {
        width: 146px;
        padding: 11px 17px;
        top: 47px;
        right: 12px;
    }

    .hero-image .free h3 {
        font-size: 1.875rem;
        font-weight: 900;
        line-height: 30px;
    }

    .hero-image .free .description {
        margin-top: 5px;
        font-size: 0.625rem;
        line-height: 15px;
    }

    /* habit section starts here  */
    .habit .image-container {
        grid-template-columns: repeat(1, 80%);
        justify-content: center;
    }

    /* running section starts here  */
    .running .container {
        padding: 30px;
        gap: 30px;
        flex-direction: column;
    }

    .running .container .text .btn-primary {
        width: 100%;
        text-align: center;
    }

    .running .container img {
        width: 100%;
    }

    /* training section starts here  */
    .training .image-collage {
        grid-template-columns: repeat(2, 1fr);
    }

    .training .three,
    .training .six {
        display: none;
    }

    /* BMI section starts here  */
    .bmi .content {
        flex-direction: column;
        gap: 42px;
    }

    .bmi .content .caption {
        font-size: 1rem;
    }

    /* responsive meet our team section styles  */
    .team-container .image-collage {
        grid-template-columns: repeat(1, 1fr);

        .Jerome,
        .Dianne {
            display: none;
        }
    }

    /* responsive testimonial styles  */
    .all-testimonials {
        grid-template-columns: repeat(1, 1fr);

        .third {
            grid-row: span 1;
        }

        .first,
        .fifth {
            grid-column: span 1;

        }
    }

    /* responsive footer styles  */
    footer .container {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
}

/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* header section starts here  */
    header .content-area nav {
        padding: 0 10px;
    }

    header .content-area nav .menu {
        gap: 20px;
    }

    .hero-section {
        padding: 0 50px;
        margin-top: 50px;
        flex-direction: column;
        gap: 100px;
    }

    .hero-section .hero-text {
        align-self: self-start;
    }

    .hero-image .paid {
        left: -50px;
        bottom: 131px;
    }

    .hero-image .free {
        top: 59px;
        right: -35px;
    }

    /* habit section starts here  */
    .habit .image-container {
        grid-template-columns: repeat(2, 40%);
        justify-content: center;
    }

    /* running section starts here  */
    .running .container {
        padding: 30px;
        gap: 60px;
    }

    .running .container .text .title {
        font-size: 2.25rem;
    }

    /* BMI section starts here  */
    .bmi .content {
        flex-direction: column;
        gap: 62px;
    }

    form {
        max-width: 100%;
    }

    /* responsive meet our team section styles  */
    .team-container .image-collage {
        gap: 10px;
        padding: 10px;
    }

    /* responsive testimonial styles  */

    .all-testimonials {
        grid-template-columns: repeat(2, 1fr);

        .second2,
        .fourth {
            grid-column: span 1;
        }

        .third {
            display: none;
        }

        .first,
        .fifth {
            grid-column: span 2;

        }
    }

    /* responsive footer styles  */
    footer .container {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    footer .container .fitness-content {
        max-width: 60%;
        grid-column: span 2;
    }
}