/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* my defaul styles  */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", sans-serif;
}

body {
    background: black;
}

/* some shared styles  */
.icon {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.btn-primary {
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    display: inline-block;
}

.description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    line-height: 1.5rem;
}


/* header section starts here  */
header {
    padding-top: 30px;
    background: linear-gradient(rgb(17, 17, 17), rgba(119, 119, 119, 0.2), black);
    padding-right: 54px;
}

header .content-area {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

header .content-area a {
    font-size: 1.125rem;
    font-weight: 600;
}

header .content-area nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .content-area nav .menu {
    padding: 4px;
    padding-right: 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    align-items: center;
    gap: 47px;
}

header .content-area nav .fa-bars {
    display: none;
}

.hero-section {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section .hero-text {
    max-width: 520px;
}

.hero-section .hero-text h1 {
    font-size: 5rem;
    font-weight: 900;

    span {
        font-family: "Great Vibes", cursive;
        font-weight: 100;
    }
}

.hero-section .hero-text .description {
    margin: 28px 0;
    font-size: 1rem;
}

.hero-section .hero-text .btn-primary {
    width: 224px;
    height: 54px;
    padding: 16px 0;
    text-align: center;
}

.hero-section .hero-text .btn-container {
    display: flex;
    gap: 14px;
}

.hero-section .hero-text .btn-app {
    background: transparent;
    border: 1px solid white;
}

.hero-image {
    position: relative;
}

.hero-image .card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image .paid {
    width: 206px;
    padding: 20px 23px;
    gap: 8px;
    position: absolute;
    left: -113px;
    bottom: 63px;
}

.hero-image .paid i {
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
}

.hero-image .paid h3 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 24px;
}

.hero-image .paid .description {
    font-size: 1rem;
    margin-top: 8px;
    line-height: 24px;
}

.hero-image .free {
    width: 193px;
    padding: 16px 23px;

    position: absolute;
    top: 125px;
    right: -74px;
}

.hero-image .free h3 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
}

.hero-image .free .description {
    margin-top: 5px;
    font-size: 0.875rem;
    line-height: 20px;
}