/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* this link for Miama font  */
@import url('https://fonts.cdnfonts.com/css/miama');

/* my defaul styles  */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", sans-serif;
}

body {
    background: black;
}

/* some shared styles  */
.icon {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.btn-primary {
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    display: inline-block;
}

section,
.full-bg .content,
footer .container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
}

.heading {
    max-width: 640px;
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    line-height: 1.5rem;
}

/* header section starts here  */
header {
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(rgb(17, 17, 17), rgba(119, 119, 119, 0.2), black);
}

header .content-area {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    padding-right: 78px;
}

header .content-area a {
    font-size: 1.125rem;
    font-weight: 600;
}

header .content-area nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .content-area nav .menu {
    padding: 4px;
    padding-right: 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    align-items: center;
    gap: 47px;
}

header .content-area nav .fa-bars {
    display: none;
}

.hero-section {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section .hero-text {
    max-width: 520px;
}

.hero-section .hero-text h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 110%;

    span {
        font-family: 'Miama', sans-serif;
        font-weight: 100;
        font-size: 8rem;

    }
}

.hero-section .hero-text .description {
    margin: 28px 0;
    font-size: 1rem;
}

.hero-section .hero-text .btn-primary {
    width: 224px;
    height: 54px;
    padding: 16px 0;
    text-align: center;
}

.hero-section .hero-text .btn-container {
    display: flex;
    gap: 14px;
}

.hero-section .hero-text .btn-app {
    background: transparent;
    border: 1px solid white;
}

.hero-image {
    position: relative;
}

.hero-image .card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image .paid {
    width: 206px;
    padding: 20px 23px;
    gap: 8px;
    position: absolute;
    left: -113px;
    bottom: 63px;
}

.hero-image .paid i {
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
}

.hero-image .paid .play-btn {
    display: none;
}

.hero-image .paid h3 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 24px;
}

.hero-image .paid .description {
    font-size: 1rem;
    margin-top: 8px;
    line-height: 24px;
}

.hero-image .free {
    width: 193px;
    padding: 16px 23px;

    position: absolute;
    top: 125px;
    right: -74px;
}

.hero-image .free h3 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
}

.hero-image .free .description {
    margin-top: 5px;
    font-size: 0.875rem;
    line-height: 20px;
}

/* habit section starts here  */
.habit .image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
}

.habit .image-container img {
    width: 80%;
    border-radius: 50%;
    border: 5px solid rgba(128, 128, 128, 0.3);
}

.habit .image-container .box h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 8px;
}

/* running section starts here  */
.running .container {
    padding: 30px 30px 30px 50px;
    display: flex;
    gap: 160px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.running .container .text .description {
    margin-top: 14px;
    margin-bottom: 34px;
}

.running .container .text .btn-primary {
    padding: 16px 80px;
}

.running .container img {
    width: 40%;
    border-radius: 18px;
}

/* training section starts here  */
.training .image-collage {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
}

.training .image-collage img {
    width: 100%;
    height: 100%;
}

.training .image-container {
    position: relative;
}

.training .color-fil,
.training h3 {
    position: absolute;
}

.training .color-fil {
    height: 100%;
    width: 100%;
    background: rgba(6, 255, 210, 0.5);
    top: 0;

    h3 {
        font-size: .8rem;
        bottom: 20px;
        left: 20px;
    }
}

.training .one {
    grid-column: span 6;
}

.training .two {
    grid-column: span 14;

    .color-fil {
        background: rgba(255, 0, 0, 0.3);
    }

    h3 {
        top: 20px;
        left: 20px;
    }
}

.training .three {
    grid-column: span 8;

    .color-fil {
        background: rgba(0, 0, 0, 0.5);
    }
}

.training .four {
    grid-column: span 11;

    .color-fil {
        background: rgba(0, 0, 0, 0.5);
    }

    h4 {
        position: absolute;
        font-size: .8rem;
        right: 20px;
        top: 20px;
    }
}

.training .five {
    grid-column: span 7;

    .color-fil {
        background: rgba(66, 255, 0, 0.3);
    }
}

.training .six {
    grid-column: span 10;

    .color-fil {
        background: rgba(0, 71, 255, 0.3);
    }
}

/* BMI section starts here  */
.bmi {
    max-width: 100%;
    padding: 0;
}

.bmi .full-bg {
    background: rgb(34, 34, 34);
}

.bmi .content {
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;

}

.bmi .content .caption {
    font-size: 1.75rem;
    font-weight: 900;
}

/* table styles  */
.content table {
    max-width: 310px;
    border-collapse: collapse;
}

table .caption {
    margin-bottom: 50px;
}

table .th {
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: left;
    padding: 11px 20px;
}

table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 11px 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

/* form styles  */
form {
    max-width: 570px;
}

form .caption {
    margin-bottom: 14px;
}

form .description {
    margin-bottom: 34px;
}

.input-area {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 12px;
}

.input-area input,
select {
    padding: 13px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);

}

.input-area .full {
    grid-column: span 2;
}

.btn-form {
    width: 224px;
    padding: 16px 0;
    margin-top: 22px;
}

/* Meet our team section styles  */

.card {
    position: relative;
}

.card .text {
    position: absolute;
    bottom: 15px;
    left: 10px;

    h6 {
        font-size: 1rem;
        font-weight: 400;
        opacity: .6;
    }

}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.team-container .image-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: rgb(34, 34, 34);
    padding: 20px;
    border-radius: 18px;
}

/* client testimonials section styles  */
.all-testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .first {
        grid-column: span 2;
    }

    .second2 {
        background: rgb(43, 43, 43);
    }

    .third {
        grid-row: span 2;
        background: rgb(65, 53, 53);
    }

    .fourth {

        background: rgb(97, 69, 93);
    }

    .fifth {
        grid-column: span 2;
        background: rgba(255, 226, 226, 0.637);
    }

}

.testimonial-card {
    background: rgb(109, 109, 109);
    border-radius: 10px;
    padding: 20px;
    color: white;

    h3 {
        font-size: 1.5rem;
        margin: 30px 0;
    }

    .message {
        text-align: justify;

    }
}

.testimonial-card .client {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid rgb(230, 83, 60);
    }

    h4 {
        font-size: 1.25rem;
    }

    p {
        opacity: .7;
    }
}

/* footer section style  */
footer {
    background: rgb(34, 34, 34);
    padding: 50px 0;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(3, 40% 25% 25%);
    gap: 3%;
}

footer .container h1 {
    font-size: 4.375rem;
    font-weight: 800;
    margin-bottom: 20px;
}


footer .container h3 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

footer .container ul li {
    list-style: none;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4375rem;
}

.hr-line {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}

.hr-line small {
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
}

footer hr {
    margin-top: 55px;
    margin-bottom: 36px;
    opacity: .5;
}